<section id="featured-services" class="featured-services">
    <div class="container aos-init aos-animate" data-aos="fade-up">


        @model List<Category>


        <div class="row">

            @foreach (var item in Model)
            {

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box aos-init aos-animate" style="width:100%" fade-up" data-aos-delay="100">
                        <center>
                            <div class="icon"><i class="fas fa-heartbeat"></i></div>


                            <p class="description">@item.Description</p>
                            <h4 class="title"><a href="">@item.Name</a></h4>
                            <a href="/Home/News/@item.Id">المزيد</a>
                        </center>

                    </div>



                </div>


            }





        </div>




    </div>
</section>